:root {
    --blue-color: #0075ff;
    --blue-alt-color: #0d69d5;
    --orang-color: #f59e0b;
    --green-color: #22c55e;
    --red-color: #f44336;
    --gray-color: #888;
    --twitter-color: #1da1f2;
    --facebook-color: #1877f2;
    --youtube-color: #ff0000;
    --linkedin-color: #0077b5;
    --main-transition: 0.3s;
}

/* Start Box */
.d-block {
    display: block;
}

.d-flex {
    display: flex;
}

.f-wrap {
    flex-wrap: wrap;
}

.flex-g {
    flex-grow: 1;
}

.fg-2 {
    flex-grow: 2;
}

.align-c {
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

.d-grid {
    display: grid;
}

.gap-20 {
    gap: 20px;
}

@media (max-width: 767px) {
    .block-mobile {
        display: block;
    }

    .hide-mobile {
        display: none;
    }
}

/* End Box */
/* Start Color */
.bg-white {
    background-color: white;
}

.bg-eee {
    background-color: #eee;
}

.bg-blue {
    background-color: var(--blue-color);
}

.bg-orange {
    background-color: var(--orang-color);
}

.c-orange {
    color: var(--orang-color);
}

.bg-green {
    background-color: var(--green-color);
}

.bg-red {
    background-color: var(--red-color);
}

.bg-eee {
    background-color: #eee;
}

.c-green {
    color: var(--green-color);
}

.c-black {
    color: black;
}

.c-white {
    color: white;
}

.c-gray {
    color: var(--gray-color);
}

.c-blue {
    color: var(--blue-color);
}

.c-red {
    color: red;
}

/* End Color */

/* Start Font */
.txt-c {
    text-align: center;
}

.txt-r {
    text-align: right;
}

.txt-l {
    text-align: left;
}

@media (max-width: 767px) {
    .txt-c-mobile {
        text-align: center;
    }
}

.fs-13 {
    font-size: 13px;
}

.fs-14 {
    font-size: 14px;
}

.fs-15 {
    font-size: 15px;
}

.fs-16 {
    font-size: 16px;
}

.fs-18 {
    font-size: 18px;
}

.fs-25 {
    font-size: 25px;
}

.fw-normal {
    font-weight: normal;
}

.fw-bold {
    font-weight: bold;
}

.line-h6 {
    line-height: 1.6;
}

.line-h8 {
    line-height: 1.8;
}

/* End Font */

/* Start padding + margin + Width */
.p-10 {
    padding: 10px;
}

.p-15 {
    padding: 15px;
}

.p-20 {
    padding: 20px;
}

.pt-10 {
    padding-top: 10px;
}

.pt-15 {
    padding-top: 15px;
}

.pt-20 {
    padding-top: 20px;
}

.pb-10 {
    padding-bottom: 10px;
}

.pb-15 {
    padding-bottom: 15px;
}

.pb-20 {
    padding-bottom: 20px;
}

.pl-15 {
    padding-left: 15px;
}

.m-0 {
    margin: 0;
}

.m-15 {
    margin: 15px;
}

.m-20 {
    margin: 20px;
}

.mt-0 {
    margin-top: 0;
}

.mt-5 {
    margin-top: 5px;
}

.mt-10 {
    margin-top: 10px;
}

.mt-15 {
    margin-top: 15px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-25 {
    margin-top: 25px;
}

.mt-50 {
    margin-top: 50px;
}

.mr-5 {
    margin-right: 5px;
}

.mr-10 {
    margin-right: 10px;
}

.mr-15 {
    margin-right: 15px;
}

.mr-20 {
    margin-right: 20px;
}

.mb-0 {
    margin-bottom: 0;
}

.mb-5 {
    margin-bottom: 5px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-15 {
    margin-bottom: 15px;
}

.mb-20 {
    margin-bottom: 20px;
}

.ml-10 {
    margin-left: 10px;
}

.ml-20 {
    margin-left: 20px;
}

.w-100 {
    width: 100px;
}

.h-100 {
    height: 100px;
}

.w-70 {
    width: 70px;
}

.w-50 {
    width: 50px;
}

.w-full {
    width: 100%;
}

.w-fit {
    width: fit-content;
}

.h-full {
    height: 100%;
}

/* End padding + margin + Width */

/* Start position */
.p-relative {
    position: relative;
}

.p-absolute {
    position: absolute;
}

/* End position */

/* Start Border */
.rad-6 {
    border-radius: 6px;
}

.rad-10 {
    border-radius: 10px;
}

.rad-half {
    border-radius: 50%;
}

.b-none {
    border: none;
}

.border-1 {
    border: 1px solid #eee;
}

.border-ccc {
    border: 1px solid #ccc;
}

.border-w {
    border: 2px solid white;
}

.border-b {
    border-bottom: 1px solid #eee;
}

.border-t {
    border-top: 1px solid #eee;
}

/* End Border */

/* Start Component */
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn-shape {
    border-radius: 6px;
    padding: 4px 10px;
}

.c-pointer {
    cursor: pointer;
}

.opacity-8 {
    opacity: 0.8;
}

.opacity-9 {
    opacity: 0.9;
}

.transition-3 {
    transition: var(--main-transition);
}

/* End Component */